// Scale
$scale-base: 1;

// Colors
$primary-color: rgb(28,28,25);
$primary-light-color: lighten($primary-color, 15%);
$secondary-color: rgb(237,127,6);
$text-color: rgb(227,227,227);
$background-color: rgb(45,44,39);

// Fonts
$sans-serif-font: "news-gothic-std", Helvetica, Arial, sans-serif;
$serif-font: "minion-pro", "Times New Roman", Times, serif;

// Mixins
@import "mixins/all";

// Vendor
@import "vendor/normalize";

// Globals
@import "globals/webfonts";
@import "globals/reset";
@import "globals/typography";

// Objects
@import "modules/logo";
@import "modules/nav";
@import "modules/heading";
@import "modules/rich-text";
@import "modules/responsive-media";
@import "modules/button";
@import "modules/option";
@import "modules/spec";
@import "modules/select";
@import "modules/pagination";

// Modules
@import "modules/banner";
@import "modules/menu";
@import "modules/billboard";
@import "modules/call-to-action";
@import "modules/teaser";
@import "modules/tile";
@import "modules/figure";
@import "modules/gallery";
@import "modules/description";
@import "modules/details";
@import "modules/form";
@import "modules/filter";
@import "modules/status";
@import "modules/map";
@import "modules/footer";

// Layouts
@import "modules/application";
@import "modules/block";
@import "modules/page";
@import "modules/editorial";
@import "modules/real-estate";
@import "modules/search";
@import "modules/expose";
@import "modules/listing";
