// Scale
$scale-base: 1;

// Colors
$primary-color: rgb(241,241,241);
$secondary-color: rgb(76,84,84);
$button-color: rgb(177,0,0);
$text-color: rgb(49,41,41);
$neg-text-color: rgb(255,255,255);
$background-color: rgb(255,255,255);
$footer-color: #4c5454;

// Fonts
$headline-font: "Brandon Text W01 Bold", Helvetica, Arial, sans-serif;
$button-font: "Brandon Text W01 Bold", Helvetica, Arial, sans-serif;
$subline-font: "Brandon Text W01 Medium", Helvetica, Arial, sans-serif;
$text-font: "Brandon Text W01 Regular", Helvetica, Arial, sans-serif;
$link-font: "Brandon Text W01 Regular", Helvetica, Arial, sans-serif;

// Standards
$small-border: 15px;
$medium-border: 30px;
$large-border: 40px;
$larger-border: 60px;
$max-size: 1600px;

// Mixins
@import "mixins/all";

// Vendor
@import "vendor/normalize";
@import "vendor/carousel";

// Globals
@import "globals/webfonts";
@import "globals/reset";
@import "globals/typography";

// Objects
@import "modules/button";
@import "modules/responsive-media";
@import "modules/nav";

// Modules
@import "modules/menu";
@import "modules/logo";
@import "modules/topbar";
@import "modules/footer";

// Layout
@import "modules/application";
@import "modules/header";





