.Browsehappy {
	padding: ms(1.5) ms(1.5);
	font-size: 0.8em;
	line-height: ms(1);
	text-align: center;
	color: rgb(255,255,255);
	background: rgb(17,17,17);

	a {
		border-bottom: 1px solid rgb(255,255,255);
		color: rgb(255,255,255);

		&:hover {
			border-color: transparent;
		}
	}
}
