.Logo {
	position: relative;
	display: block;
	padding-bottom: unit(61, 215);
	overflow: hidden;
	background-image: url(assets/dc-mallorca-logo.png);
	background-size: contain;
	@include retina {
		background-image: url(assets/dc-mallorca-logo@2x.png);
	}
}

.Logo-label {
	position: absolute;
	display: block;
	margin-left: -1px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
