.Menu 
	color: rgb(255,255,255)
	// background-color: #C1C1C1
	&-body 
		text-align: center
		li
			a
				font-family: $text-font
				color: $neg-text-color
				line-height: 4rem
				font-size: 1.1rem
	+bp('large')
		padding-top: 2.84em
		li 
			a 
				color: $text-color
				font-size: 1.3rem