.ResponsiveMedia {
	display: block;
}

.ResponsiveMedia-body {
	width: 100%;
	height: auto;
	display: block;
}

.ResponsiveMedia--16by9 {
	position: relative;
	padding-bottom: unit(9, 16);
	overflow: hidden;

	.ResponsiveMedia-body {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
}
