.Tool
  +bp('medium')
    min-height: 450px
    +clearfix()
  +bp('large')
    min-height: 700px
  &-leftbar
    &-pricebox
      background-color: $color-secondary
      color: white
      margin-bottom: $border-small
      padding: $border-medium
      h3, h4
        text-align: center
      h3
        font-weight: 800
        font-size: 1.8em
        line-height: 1em
        margin-bottom: $border-medium

      span
        display: block
        text-align: center
        margin: 2px 0
        padding: $border-small/2 0
        background-color: lighten($color-secondary, 10%)
        &:last-child
          margin-bottom: $border-medium
        h5,h6
          line-height: 0.6em
          margin: $border-small 0
        h5
          font-weight: 800
        h6
          &:after
            content: none
        &.Tool-leftbar-pricebox-price
          background-color: white
          color: $color-text
          padding: $border-medium 0
          h5
            font-size: 2.5em
            padding-bottom: $border-small

      +bp('large')
        margin-bottom: $border-large
    &-rabattbox
      div
        img
          margin: 0 auto
          display: block
          max-width: 200px
          margin-bottom: $border-medium

    &-pricebox,
    &-rabattbox,
      +bp('large')
        margin-right: $border-large
      +bp('larger')
        margin-right: $border-large
      +bp('huge')
        margin-right: $border-large
    +bp('large')
      float: left
      width: +unit(3)


  &-rightbar
    &-legal
      h4
        position: relative
        font-weight: 600
        font-size: 1.2em
        &:after
          content: ''
          display: block
          width: 30px
          height: 2px
          background-color: black
          position: relative
          left: 0
          bottom: 0
          margin: 10px 0 15px 0

    +bp('large')
      float: left
      width: +unit(9)
      .Form
        .Form-sentmessage
          +transform(translateX(-+unit(3)))

  &-form
    +bp('medium')
      +clearfix()
    &-rightbar,
    &-leftbar
      +bp('medium')
        float: left
        width: +unit(6)
      h3
          font-weight: 800
          font-size: 1.6em
          +bp('medium')
            margin-top: 27px
            margin-bottom: 33px


  &-buttonlist
    margin-top: $border-medium
    ul
      text-align: center
      // white-space: nowrap
      letter-spacing: 0
    li
      display: inline-block
      text-align: center
      >span
        display: block
        margin: 0 $border-small
      img
        display: block
        margin: 0 auto
    &--grid
      ul
        text-align: left
      li
        width: +unit(12)
        +bp('medium')
          width: +unit(4)
        +bp('large')
          width: +unit(3)
      .Tool-buttonlist-button
        display: block
        margin-top: $border-small

    &-button
      @extend .Button
  &-header
    text-align: center
    margin-bottom: $border-small
    +bp('large')
      margin-bottom: $border-medium
    span
      position: relative
      display: block
      text-transform: uppercase
      font-weight: 800
      text-align: center
      &:after
        content: ''
        display: block
        width: 30px
        height: 2px
        background-color: black
        position: relative
        margin: $border-small auto
    h1
      text-align: center
      color: $color-text
      font-size: 2em
      font-weight: 600
      margin-bottom: 0
      &:after
        content: none
  &-statusbar
    background-color: lighten($color-secondary, 60%)
    padding: 10px 0
    &-carousel
      position: relative
      width: 100%
      max-width: $max-size
      margin: 0 auto
      padding: 0 $border-large
      text-align: center
      .owl-controls
        .owl-dots
          display: none !important
        .owl-nav
            display: inherit
            .owl-prev,
            .owl-next
              left: 2%
              position: absolute
              height: 15px
              width: 30px
              top: 50%
              background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMSBUaW55Ly9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLXRpbnkuZHRkIj48c3ZnIHZlcnNpb249IjEuMSIgYmFzZVByb2ZpbGU9InRpbnkiIGlkPSJFYmVuZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjI5LjYyMnB4IiBoZWlnaHQ9IjE5LjAwMnB4IiB2aWV3Qm94PSIwIDAgMjkuNjIyIDE5LjAwMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0E5MTIxQyIgZD0iTTI4LjMyMyw4LjE3NUg0LjA1NGw1Ljc5MS01LjkxMmMwLjUwNy0wLjUxOCwwLjUwNy0xLjM1NywwLTEuODc1cy0xLjMzLTAuNTE4LTEuODM2LDBMMCw4LjU2M2MtMC41MDcsMC41MTgtMC41MDcsMS4zNTcsMCwxLjg3NWw4LjAwOCw4LjE3NWMwLjI1MywwLjI1OSwwLjU4NiwwLjM4OSwwLjkxOCwwLjM4OWMwLjMzMywwLDAuNjY1LTAuMTMsMC45MTgtMC4zODljMC41MDctMC41MTgsMC41MDctMS4zNTYsMC0xLjg3NGwtNS43OTEtNS45MTNoMjQuMjY5YzAuNzE3LDAsMS4yOTktMC41OTMsMS4yOTktMS4zMjVTMjkuMDQsOC4xNzUsMjguMzIzLDguMTc1eiIvPjwvc3ZnPg==)
              background-size: contain
              background-repeat: no-repeat
              text-indent: -9999px
              overflow: hidden
              +transform(translateY(-50%))
            .owl-next
              left: auto
              right: 2%
              +transform(translateY(-50%) rotate(-180deg))
      .item
        display: block
        vertical-align: top
        text-align: left
        user-select: none
        -webkit-tap-highlight-color: rgba(0,0,0,0)
        white-space: nowrap
        a
          color: $color-text
          font-style: normal
          +noselect()
        >span,
        a >span
          display: inline-block
          line-height: 1.1em
          i
            font-style: normal
            display: block
            font-family: $font-text
            font-weight: 400
            font-size: 0.7em

        >span:first-child, a >span:first-child
          font-family: $font-headline
          font-weight: 800
          font-size: 1.5em
          line-height: 1.5em
          color: white
          background-color: $color-secondary
          width: 46px
          text-align: center
          padding: 5px 0
          margin: 10px
          margin-right: 20px
          vertical-align: top
        &.isset
          >span:first-child, a >span:first-child
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMSBUaW55Ly9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLXRpbnkuZHRkIj48c3ZnIHZlcnNpb249IjEuMSIgYmFzZVByb2ZpbGU9InRpbnkiIGlkPSJFYmVuZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjY1LjE5N3B4IiBoZWlnaHQ9IjY1LjE5N3B4IiB2aWV3Qm94PSIwIDAgNjUuMTk3IDY1LjE5NyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTUwLjc2MSwyMi4yMzZsLTQuMTMtNC4zMWMtMC40ODgtMC41MS0xLjI4Mi0wLjUxLTEuNzcxLDBMMjcuNjU0LDM1Ljg4MWwtNy4zMTgtNy42MzZjLTAuNDg5LTAuNTExLTEuMjgxLTAuNTExLTEuNzcsMGwtNC4xMyw0LjMwOWMtMC40ODksMC41MS0wLjQ4OSwxLjMzOCwwLDEuODQ4bDEyLjMzMywxMi44N2MwLjI0NCwwLjI1NSwwLjU2NCwwLjM4MiwwLjg4NCwwLjM4MmMwLjMyMSwwLDAuNjQxLTAuMTI3LDAuODg2LTAuMzgybDIyLjIyMS0yMy4xODhjMC4yMzUtMC4yNDQsMC4zNjYtMC41NzcsMC4zNjYtMC45MjNDNTEuMTI3LDIyLjgxMyw1MC45OTYsMjIuNDgyLDUwLjc2MSwyMi4yMzZ6Ii8+PC9zdmc+)
            background-size: 80%
            background-position: center
            background-repeat: no-repeat
            text-indent: -9999px
            word-wrap: nowrap

        >span:last-child, a >span:last-child
          font-size: 1.1em
          margin-top: 10px
          font-weight: 600
        a.active >span:first-child
          background-color: $color-button
          color: white
  &-body
    @extend .Section-body
  .Services-items-box
    background-color: $color-primary
    h6 span
      background-color: $color-primary

  &-bottom
    background-color: $color-primary
    &-body
      @extend .Section-body--smallest
      &:after
        content: ""
        display: table
        clear: both
      div
        font-size: 1.2em
        +bp('medium')
          width: 50%
          display: inline-block
        &:first-child
          text-align: center
          padding-bottom: 5%
          vertical-align: middle
          img
            width: 40%
            max-width: 150px
            margin: 0 auto
          +bp('medium')
            padding-right: 10%
            padding-bottom: 0%
            width: 30%
            max-width: inherit
            img
              width: 80%
        &:last-child
          vertical-align: middle
          text-align: center
          +bp('medium')
            text-align: left
            width: 60%
